<ion-view view-title="My Dashboard" cache-view="false" style="color: white !important;"> 
       
     
  <ion-content>
       
   <div class="row" style="margin-top:10%">
     <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">My Points Balance</div>  
 </div>
      <div class="row" >
     <div class="col" style="font-weight:bold;font-size:50px;    line-height: 90px;border: 1px solid #ddd;color: #000 !important;height:100px;text-align:center;vertical-align:middle;text-anchor:middle">{{PointBalance}}</div>   


 </div>

  </ion-content>
</ion-view>
