<ion-modal-view>
  <ion-header-bar style="border-bottom:1px solid #e5e5e5;background: #337ab7;border-radius: 4px 4px 0 0;">
    <h1 class="title" style="color:#fff;text-align: center;    font-size: 121%;">Login to Kontact Points</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()" style="color:#fff;text-align: center;    font-size: 100%;">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" style="    color: #fff;
    background-color: #286090;
    border-color: #204d74;">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
