<ion-view view-title="My Card" cache-view="false" style="color: white !important;"> 
       
<ion-content>
    <div class="list padding">
      
      <div ng-click="flip()" class="flip-container">
        <div class="flipper clearfix">
          <div class="front card item-text-wrapped">
            <div class="top">
                <img ng-src="img/kplogo.png" style="float:left;width:20%"><h2 style="color:white;margin-right:13%;font-size:90%" >My Reward Card</h2>
            </div>
            <div class="icon-holder" style="width: 17%;color: #F99237;font-family: tahoma;font-size: 123%;font-weight: bold;">A</div>
            <div class="padding" style="color:black;height: 244px;clear:both;">
              <p  style="color: #F99237;font-family: tahoma;font-size: 123%;font-weight: bold;">PREMIUM MEMBER</p>
            </div>
          </div>
          <div class="back card item-text-wrapped success">
            <div class="top">
                <img ng-src="img/kplogo.png" style="float:left;width:20%"><h2 style="color:white;margin-right:13%;font-size:90%" >My Profile Card</h2>
            </div>
            <div class="icon-holder" style="width: 17%;color: #F99237;font-family: tahoma;font-size: 123%;font-weight: bold;">B</div>
            <div class="answer padding" style="color:black;height: 244px;">
              
              <div class="list" style="clear:both">
        <label class="item item-input">
          <span class="input-label">Email</span>
          Developer @safalinfotech.com
        </label>
        <label class="item item-input">
          <span class="input-label">City</span>
        Ahmedabad
        </label>
                  <label class="item item-input">
          <span class="input-label">Website</span>
        http://www.safalinfotech.com
        </label>
                  <label class="item item-input">
          <span class="input-label">IM</span>
        Safal@yahoo.com
        </label>
           <label class="item item-input">
          <span class="input-label">Mobile</span>
          +91 9408384844
        </label>
                   <label class="item item-input">
          <span class="input-label">ExtNo</span>
          121
        </label>
           <label class="item item-input">
          <span class="input-label">Address</span>
         Ahmedabad,Gujarat,India
        </label>
       
      </div>
                
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
