<ion-view view-title="My Statements">
 
  <ion-content>

      <div class="row">
     <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Points By</div>
     <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Name</div>
     <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Reward</div>
     <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Redeem</div>
     <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Balance</div>
           <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Spent Amount</div>
           <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Date</div>
 </div>

      <div class="row">
     <div class="col" style="border: 1px solid #ddd;color: #000 !important;">Activity</div>
     <div class="col" style="border: 1px solid #ddd;color: #000 !important;">Activity  Kp</div>
     <div class="col" style="border: 1px solid #ddd;color: #000 !important;">400</div>
      <div class="col" style="border: 1px solid #ddd;color: #000 !important;">0</div>
       <div class="col" style="border: 1px solid #ddd;color: #000 !important;">10728</div>
       <div class="col" style="border: 1px solid #ddd;color: #000 !important;">0</div>
        <div class="col" style="border: 1px solid #ddd;color: #000 !important;">14/10/2015 08:00:36</div>


 </div>
      <div class="row">
     <div class="col" style="border: 1px solid #ddd;color: #000 !important;">Activity</div>
     <div class="col" style="border: 1px solid #ddd;color: #000 !important;">Activity  Kp</div>
     <div class="col" style="border: 1px solid #ddd;color: #000 !important;">400</div>
      <div class="col" style="border: 1px solid #ddd;color: #000 !important;">0</div>
       <div class="col" style="border: 1px solid #ddd;color: #000 !important;">10728</div>
       <div class="col" style="border: 1px solid #ddd;color: #000 !important;">0</div>
        <div class="col" style="border: 1px solid #ddd;color: #000 !important;">14/10/2015 08:00:36</div>


 </div>

      <div class="row">
     <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;" ></div>
     <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;" " >Total</div>
     <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;" >20186</div>
      <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;" >20080</div>
       <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;" ></div>
       <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;" ></div>
        <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
    line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;" ></div>


 </div>
    
   

   

  </ion-content>
</ion-view>
